<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Review Pop-Up Submit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="close">x</div>
    <form action="#" th:action="@{/review}" th:object="${feedback}" method="post">

    	<p><input type="text" placeholder="Name" th:field="*{name}"/></p>
        <p><input type="text" placeholder="Email (optional)" th:field="*{email}" /></p>

        <p><textarea placeholder="Review / Feedback" rows="10" cols="40" height="300"  th:field="*{content}" required></textarea></p>

        <p><input type="checkbox" th:field="*{isBugReport}"/> Bug Report</p>
        <p>
            <input type="submit" value="Submit" />
            <span class="submission-info">The Software Provider has opted to make Reviews Public. However, a
            Bug Report will always be private.</span>
        </p>

    </form>

</body>
</html>
