body {
    font-family: sans-serif;
    padding-top: 35px;
}
body * {
    box-sizing: border-box;
}
div.close {
    position: fixed;
    top: 15px;
    left: 15px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background-color: lightgrey;
}
form {
    margin: 0 auto;
    width: 500px;
}
form input[type='text'] {
    width: 500px;
    width: 500px;
}
form input, form textarea {
    padding: 10px;
    font-size: 18px;
}
form span {
    width: 325px;
    float: right;
    font-size: 13px;
}